:root {
    --image-width: 245px;
    --margin-card: 20px;
}

.checkout_page {
    display: flex;
    flex-wrap: wrap;
    
}

.checkout_background {
    width: 55vw;
    border-radius: 25px;
    margin: var(--margin-card) auto;
    border: 1px solid black;
    padding: 20px; 
    background-color: #fff;
}

.checkout_title {
    text-align: center;
    margin-top: 15px;
}

.empty_cart {
    font-weight: bold;
    margin-left: 10px;
}

.checkout_item {
    display: flex;
    margin-top: 15px;
    align-items:flex-start;
    flex-wrap: wrap;
}

.img_info {
    margin-right: var(--margin-card);
    margin-left: var(--margin-card);
    max-width: calc(55vw - var(--margin-card) * 2);
}

.img_resize {
    width: var(--image-width);
    max-width: 100%;
    height: auto; 
}

.item_info {
    flex: 1; 
    margin-right: var(--margin-card);
    display: flex;
    flex-direction: column; 
}

.remove_button {
    text-decoration: underline;
    cursor: pointer;
    display: inline;
}

.remove_button:hover {
    color: red;
}

.price_info {
    align-self: flex-start;
    font-weight: bold;
    margin-right: var(--margin-card);
}

.cart_summary {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    margin: var(--margin-card) auto;
    border: 1px solid black;
    padding: 45px 5%; 
    background-color: #fff;
    height: 15%;
    width: auto;
    gap: 15px;
}

.cart_summary > b:first-child {
    font-size: x-large;
    display: block;
    text-align: center;
}

.checkout_button_container {
    display: flex;
    justify-content: center;
}

.checkout_button {
    border-radius: 5px;
    border: none;
    height: 48px;
    width: 100%;
    background-color: #0835db;
    color: #fff;
    cursor: pointer;
}

.checkout_button:hover {
    background-color: #234ce0;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .checkout_page .checkout_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      margin-bottom: 20px;
    }
  
    .checkout_page .img_info {
      margin: 0 auto;
      width: 100%;
    }
  
    .checkout_page .item_info {
      margin: 10px 0;
      width: 100%;
      text-align: center;
    }
  
    .checkout_page .price_info {
      margin: 10px 0;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      width: 100%;
    }
  
    .checkout_page .remove_button {
      margin-top: 10px;
      width: 100%;
      text-align: center;
      display: block;
    }
}
  