.pagination{
    padding: 10px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination > span{
    padding: 15px 20px;
    border: 1px solid gray;
    cursor: pointer;
}

.pagination_selected{
    background-color: rgb(220, 220, 220);
}

.pagination_disabled{
    opacity: 0;
    cursor: default;
}

.pokemon_page{
    display: flex;
}

.pokemon{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.pokemon_card {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    flex: 1 0 18%; 
    margin: 10px; 
    box-sizing: border-box;
}

.button_container > button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
    border-radius: 5px;
}

.button_container > button:hover {
    background: #e4a60a;
}

.pokemon_banner{
    width: 100vw;
}


